extends layout

block content
  .jumbotron.jumbotron-color
    h1 youVOTE
    p.lead A FreeCodeCamp Voting Application.
  .row
    .col-xs-3
      h3
        i.fa.fa-thumbs-up
        | Vote
      p Vote on current polls. Vote for a new option if you don't like the current ones.
    .col-xs-3
      h3
        i.fa.fa-plus-square
        | Create
      p Create your own poll by signing up or logging in using your 
        i.fa.fa-github
        | GitHub or 
        i.fa.fa-twitter
        | Twitter account.
    .col-xs-3
      h3
        i.fa.fa-line-chart
        | View
      p See the aggreregate results of current polls in real-time charts.  
    .col-xs-3
      h3
        i.fa.fa-share-alt
        | Share
      p Share your favorite polls in your social media accounts.  